# Copy to `.env` and adjust values.
#
# WebSocket URL of your Webitel IM gateway websocket endpoint.
# Example:
#   wss://your-host/ws
VITE_WS_BASE_URL=

# HTTP URL of your Webitel IM gateway API endpoint.
# Example:
#   https://your-host/api
VITE_HTTP_BASE_URL=

# Optional
VITE_WS_ACCESS_TOKEN=

